body{
    background-color: #293462;
}
header {
    background-color: #4fff6cd0;
    justify-content: center;
    display: flex;
}
footer{
    background-color: #293462;
    justify-content: center;
    display: flex;
}
ul {
    list-style-type: none;
    margin-top: 0%;
}
.primer {

    color: black;
}
#errores{
    color: darkred;
    border-left-style: solid;
    border-color: rgb(83, 4, 4);
    margin-left: 1%;
}
.contenedor{
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    border-top: 5px solid #00818a;
    background-image: linear-gradient(#00818a, #f7be16);
}

#ingreso {
    background-image: none;
    background-color: #00818a;
    
}

#evaluar{
 display: block;   
}